<!-- header.html -->
{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom fixed-top">
  <a class="navbar-brand d-flex align-items-center" href="{% url 'board:chat' %}">
    <img src="{% static 'images/jju_logo.jpeg' %}" alt="로고" width="40" height="40" class="mr-2">
    <strong>챗봇 인터페이스</strong>
  </a>

  <!-- 사이드바 열기/닫기 버튼 -->
  <button id="sidebar-toggle" class="btn btn-outline-secondary ml-2" type="button">
    <i class="bi bi-list"></i>
  </button>

  <!-- 부트스트랩 기본 토글 버튼 -->
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="네비게이션 토글">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <span class="nav-link">{{ user.username }}님 안녕하세요</span>
        </li>
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/">환경설정</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:logout' %}">로그아웃</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:signup' %}">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:login' %}">로그인</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
